* {
  margin: 0;
  padding: 0;
}
.BusinessPage {
  height: 100vh;
  background-color: rgb(255, 255, 255);

}
.BusinessPage >.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.form {
  padding: 10px;
  margin: 10px 20px;
  width: 800px;
  height: 600px;
}

.float-container {
  padding: 10px;
  width: 1000px;
  height: 630px;
}

.float-child-button {
  width: 20%;
  float: left;
  padding: 20px;
}

.float-child {
  width: 80%;
  float: left;
  padding: 20px;
}  

.card {
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 6px;
}
